@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Passero+One&display=swap');
body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.password-generator {
    background-color: #3E6680;
    color: #E0F2E9;
    padding: 80px 50px;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    border: 5px solid #E0F2E9;
    box-shadow: 2px 2px 20px #3E6680;
}
h1 , h4 {
    margin: 5px 0;
}
.password-generator h1 span {
    color: #FFC4D1;
    display: block;
}
.password-generator h4 {
    font-family: 'Passero One', cursive;
    font-size: 22px;
    margin-top: 0;
    padding: 5px;
    background-color: #ffc4d154;
    display: inline-block;
}
.settings {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.settings .setting-section {
    margin: 8px;
}
.settings .char  , .settings .char-num {
    display: inline-block;
}
.settings .char-num {
    display: inline-block;
}
.settings .char {
    background-color: #ffc4d154;
    padding: 5px;
    border-radius: 4px;
    line-height: 19px;
    margin: 0 3px;
}
#el-charNum {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    height: 15px;
    border-radius: 5px;
    background-color: #ffc4d154;
    outline: none;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    opacity: 0.7;
}
#el-charNum:hover {
    opacity: 1;
}
#el-charNum::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FFC4D1;
    cursor: pointer;
    border-radius: 50%;
}
#el-charNum::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FFC4D1;
    cursor: pointer;
    border-radius: 50%;
}
.setting-section.checkbox{
    padding-left: 6px;
}
.setting-section input[type="checkbox"] {
    opacity: 0;
}
.setting-section.checkbox label::before{
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #E0F2E9;
    border-radius: 5px;
    background-color: #e0f2e930;
}
.setting-section.checkbox label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    color: #FFC4D1;
}
.checkbox label {
    position: relative;
}
.checkbox label::before,
.checkbox label::after {
    position: absolute;
}
.checkbox label::before {
    top: 2px;
    left: -25px;
}
.checkbox label::after {
    left: -22px;
    top: 5px;
}
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
.setting-section.checkbox:nth-child(2) {
    margin-top: 20px;
}
.checkbox input[type="checkbox"]:disabled + label::after , .checkbox input[type="checkbox"]:disabled + label::before , .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.4;
}
.result {
    position: relative;
    background-color: #e0f2e930;
    padding: 10px 35px;
    border-radius: 12px;
    line-height: 25px;
}
.result i {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #FFC4D1;
}
.result .generated-password {
    padding-top: 3px;
}
.result .fa-copy {
    right: 10px;
}
.result .fa-rotate {
    left: 10px;
}
.hidden-generated-password {
    display: none;
}
.copied {
    display: none;
    font-size: 12px;
    position: absolute;
    top: -25px;
    right: 0;
    background-color: #ffc4d154;
    border-radius: 3px;
    padding: 0 5px;
}
.copied.show {
    display: block;
}

@media only screen and (max-width: 650px)  {
    .password-generator {
        min-width: initial;
        width: 70%;
    }
}
@media only screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .password-generator {
        width: 60%;
        padding: 50px;
    }
    .password-generator h1 {
        font-size: 20px;
    }
    .password-generator h4 {
        font-size: 16px;
    }
    .result .generated-password {
        font-size: 12px;
    }
}